*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    /* align-items: stretch; */
    /* height: 50vh; */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.box{
    width: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
    height: 10rem;
}

.box1{
    background-color: blue;
    order: 1;
    flex-grow: 1;
}

.box2{
    background-color: aqua;
    flex-grow: 1;
}

.box3{
    background-color: azure;
    order: 2;
}

.box4{
    background-color: blueviolet;
}

.box5{
    background-color: coral;
    order: 4;
}

.box6{
    background-color: cyan;
    order: 3;
}